@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace:regular);

body { font-size: x-large;
    font-family: 'Covered By Your Grace';
    color: rgba(179, 226, 230, 0.596);
    background-image: url('1W2A2981.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: right;
    background-position-y: bottom;
}
/* #restaurant{margin-right: 10rem;}
#country{margin-right: 10rem;}
#city{margin-right: 10rem;}
#speciality{margin-right: 10rem;} */

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 10rem;
    text-align: center;
    
}
input:hover{background-color: rgba(210, 232, 233, 0.479);}

#delete-all, #save{ margin: 1rem;
    font-family: 'Covered By Your Grace';
    font-size:large;
    height: 3rem;
    width: 12rem;
border-style: none;
background-color: rgba(240, 248, 255, 0.199);}

button{display: inline-block;}
select{
    height: 1.5rem;
    width: 10rem;
    border-style: none;
background-color: rgba(240, 248, 255, 0.199);}
h1{margin-left: 2rem;}
input{ 
    font-family: 'Covered By Your Grace';
    font-size:large;
    height: 1.5rem;
    width: 10rem;
border-style: none;
background-color: rgba(240, 248, 255, 0.199);}
/* #restaurant {
    display: inline-block
    float: right;} */