@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace:regular);
/* @media only screen and (min-width:1200px) */
.list-header {
    padding-left:17%
}
#form-wrapper {
    padding-left: 17%

}
/* #delete-all{position: absolute;
top:13rem;
left: 30rem} */
.buttons{flex-wrap: nowrap;
    /* grid-template-columns: 30% 30%; */
    padding-left:17%
}
body { margin-top: 5rem;
    font-size: x-large;
    font-family: 'Covered By Your Grace';
    color: rgba(216, 239, 241, 0.644);
    background-image: url('1W2A2981.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: right;
    background-position-y: bottom;
}

#restaurant-list {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    flex-wrap: wrap;
    list-style-type: none;
    width: 60%;
}

/* #restaurant{margin-right: 10rem;}
#country{margin-right: 10rem;}
#city{margin-right: 10rem;}
#speciality{margin-right: 10rem;} */

label{
    display: inline-block;
    /* float: left; */
    clear: left;
    width: 10rem;
    text-align: center;
    
}
input:hover{
    background-color: rgba(210, 232, 233, 0.479);}

#delete-all, #save{ margin: 1rem;
    font-family: 'Covered By Your Grace';
    font-size:large;
    height: 3rem;
    width: 12rem;
    border-style: none;
    background-color: rgba(240, 248, 255, 0.199);}
    #delete-all:hover, #save:hover{background-color: rgba(210, 232, 233, 0.479);
    font-size: x-large;
    font-weight: bolder;}

button{display: inline-block;}

select{
    height: 1.5rem;
    width: 10rem;
    border-style: none;
    background-color: rgba(240, 248, 255, 0.199);}

h1{margin-left: 2rem;}
#whitespace{grid-area:whitespace}
#rating1{grid-area: head1;}
#rating2{grid-area: head2;}
#rating3{grid-area: head3;}
#rating4{grid-area: head4;}
#rating5{grid-area: head5;}
#rateno1{grid-area: drop1}
#rateno2{grid-area: drop2}
#rateno3{grid-area: drop3}
#rateno4{grid-area: drop4}
#rateno5{grid-area: drop5}


.raterate{margin-top: 0.5rem;
    width: 12rem;
    display: grid;
    grid-template-areas: 'whitespace head1 head2 head3 head4 head5'
    'whitespace drop1 drop2 drop3 drop4 drop5';
    grid-gap: 0.5rem;

}
input{ 
    font-family: 'Covered By Your Grace';
    font-size:large;
    height: 1.5rem;
    width: 10rem;
    border-style: none;
    background-color: rgba(240, 248, 255, 0.199);}
/* #restaurant {
    display: inline-block
    float: right;} */

/* #form-wrapper {
    width:67% */
/* } */
input[type=radio]{
    opacity: 30%;
    color: none;
    box-shadow: none;
    outline: none;
    width: 1rem; height: 1rem;
}
#rating{outline-style: none;}
.rating{border-style: none;

    flex-direction: row;
    width: 26%;
    size: 2rem;
}
#speciality{
    font-family: 'Covered By Your Grace';
    font-size: large;
}

.restaurant-list-item {
    text-align: center;
    color: rgba(179, 226, 230, 0.664);
    background-color: rgba(46, 44, 38, 0.418);
    line-height: 0em;
    margin: 0.5rem 0.5rem;
    padding: 0rem 1rem;
    border-radius: 3%;
}

.restaurant-list-item:hover{
    color: mintcream;
}

